.profile__button-refill-img {
    width: 22px;
    height: 22px;
}

@media screen and (max-width: 1024px) {
    .profile__button-refill-img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .profile__button-refill-img {
        width: 16px;
        height: 16px;
    }
}