.profile__button-edit-img {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 1024px) {
    .profile__button-edit-img {
        width: 9px;
        height: 9px;
    }
}

@media screen and (max-width: 768px) {
    .profile__button-edit-img {
        width: 7.5px;
        height: 7.5px;
    }
}